fastapi
pydantic
sqlalchemy
sqlalchemy[asyncio]
apscheduler
pytz
pandas
asyncpg  # If using PostgreSQL; omit or replace with aiomysql for MySQL
psycopg2-binary
# Basic APScheduler installation
apscheduler
uvicorn # Include the version if you have a specific requirement

# With extras for SQLAlchemy and Redis
apscheduler[sqlalchemy,redis]

# If using asyncio with APScheduler
apscheduler[asyncio]
